MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
MEDUSA_ADMIN_PATH='/app'
MEDUSA_BACKEND_URL=http://localhost:9000
MEDUSA_STOREFRONT_URL=http://localhost:3000
BOG_CLIENT_ID='demo'
BOG_CLIENT_SECRET='demo'
SENDGRID_API_KEY="secret-key"
SENDGRID_FROM="no-reply@example.com"
GOOGLE_CLIENT_ID=supersecret
GOOGLE_CLIENT_SECRET=supersecret